:root {
    --color-primary: #212121;
    --color-secondary:#757575;
    --color-hover:#2196F3;
    --color-filter:#F5F4FA;
    --color--white:#FFFFFF;

}
li{
    list-style: none;
}
body {
    color:var(--color-primary);
    font-family: 'Roboto', sans-serif;
}
/* Шапка */
.topline{
    color: var(--color-hover);
    font-family: Raleway;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.119;
    letter-spacing: 0.03em;
}
.toplinesecond{
    color:#000000;
    font-family: Raleway;
    text-decoration: none;
}
.hero-section{
    background-color: #2F303A;
}
.back{
    background:#F5F5F5
}
/* Про нас шапка */
.aboutus {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    
}
.aboutus:hover {
color: var(--color-hover);
}

.contacts{
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    text-decoration: none;
}
.contacts:hover{
color: var(--color-hover);
}
/* Бааадііі */
.hero-title{
    color:var(--color--white);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
} 

/* Кнопки */
.button{
    color:var(--color--white);
    background-color: var(--color-hover);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    letter-spacing: 0.06em;

}
.button{
    cursor: pointer;
}
.buttontwopage {
    color: var(--color-primary);
    background-color: var(--color-filter);
    border-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    border: none;
    width: 73px;
    height: 38px;
    border-radius: 4px;
    white-space: nowrap;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.buttontwopage:hover {
    color: var(--color--white);
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}

/* Наші переваги */

.whyso{
    color:var(--color-secondary) ;
}

.ourwork{
    color: var(--color-primary);
}
.our-team{
    background: #F5F4FA;
}
.comand-team{
    background-color:var(--color--white);
}
.comand{
    color: var(--color-primary);
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;


}
.name-employee{
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}
.employee{
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}

h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;

}
.whyso{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}
.ourwork{
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
}
address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
h1{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.position{
    color:#757575 ;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;


}



